In [28]:
import pandas as pd 
import os

In [29]:
path_dir ='./Desktop/CIMET Assignment/' ## creating a variable path_Dir and checking what all files we
                                                                 ## have in the particular folder which we have to append
for files in os.listdir(path_dir):
    print(files)

2019-Dec.csv
2019-Nov.csv
2019-Oct.csv
2020-Feb.csv
2020-Jan.csv
eCommerce Report.pbix

In [30]:
FinalDf = pd.DataFrame() ## creating a empty dataframe so that i can append or concat all three dataframes into FinalDf
for files in os.listdir(path_dir):
    dataframe = pd.read_csv(path_dir+files)
    FinalDf = pd.concat([FinalDf,dataframe]) ## concatinating dataframe into FinalDf

MemoryError: Unable to allocate 158. MiB for an array with shape (1, 20692840) and data type int64

In [ ]:
FinalDf.shape

In [8]:
FinalDf.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-12-01 00:00:00 UTC,remove_from_cart,5712790,1487580005268456287,NaN,f.o.x,6.27,576802932,51d85cb0-897f-48d2-918b-ad63965c12dc
1,2019-12-01 00:00:00 UTC,view,5764655,1487580005411062629,NaN,cnd,29.05,412120092,8adff31e-2051-4894-9758-224bfa8aec18
2,2019-12-01 00:00:02 UTC,cart,4958,1487580009471148064,NaN,runail,1.19,494077766,c99a50e8-2fac-4c4d-89ec-41c05f114554
3,2019-12-01 00:00:05 UTC,view,5848413,1487580007675986893,NaN,freedecor,0.79,348405118,722ffea5-73c0-4924-8e8f-371ff8031af4
4,2019-12-01 00:00:07 UTC,view,5824148,1487580005511725929,NaN,NaN,5.56,576005683,28172809-7e4a-45ce-bab0-5efa90117cd5

In [9]:
## dropping unwanted columns (category_code,user_session)
FinalDf.drop(['category_code', 'user_session'], axis=1 , inplace = True)

In [10]:
FinalDf.head()

,event_time,event_type,product_id,category_id,brand,price,user_id
0,2019-12-01 00:00:00 UTC,remove_from_cart,5712790,1487580005268456287,f.o.x,6.27,576802932
1,2019-12-01 00:00:00 UTC,view,5764655,1487580005411062629,cnd,29.05,412120092
2,2019-12-01 00:00:02 UTC,cart,4958,1487580009471148064,runail,1.19,494077766
3,2019-12-01 00:00:05 UTC,view,5848413,1487580007675986893,freedecor,0.79,348405118
4,2019-12-01 00:00:07 UTC,view,5824148,1487580005511725929,NaN,5.56,576005683

In [11]:
FinalDf.isnull().any() # checking if there's any null values

event_time     False
event_type     False
product_id     False
category_id    False
brand           True
price          False
user_id        False
dtype: bool

In [12]:
## droping null values

FinalDf = FinalDf.dropna()

In [13]:
FinalDf.isnull().any() # checking if there's any null values now

event_time     False
event_type     False
product_id     False
category_id    False
brand          False
price          False
user_id        False
dtype: bool

In [14]:
FinalDf.duplicated().sum() # checking if there's any duplicates record values

622359

In [15]:
FinalDf = FinalDf.drop_duplicates() ## dropping duplicate rows

In [16]:
FinalDf.duplicated().sum() # checking if there's any duplicates record values

0

In [17]:
FinalDf.head(10)

,event_time,event_type,product_id,category_id,brand,price,user_id
0,2019-12-01 00:00:00 UTC,remove_from_cart,5712790,1487580005268456287,f.o.x,6.27,576802932
1,2019-12-01 00:00:00 UTC,view,5764655,1487580005411062629,cnd,29.05,412120092
2,2019-12-01 00:00:02 UTC,cart,4958,1487580009471148064,runail,1.19,494077766
3,2019-12-01 00:00:05 UTC,view,5848413,1487580007675986893,freedecor,0.79,348405118
5,2019-12-01 00:00:09 UTC,view,5773361,1487580005134238553,runail,2.62,560109803
7,2019-12-01 00:00:22 UTC,view,5807805,1487580005713052531,ingarden,4.44,576005683
8,2019-12-01 00:00:27 UTC,view,5588608,1487580008145748965,roubloff,5.40,546170008
9,2019-12-01 00:00:34 UTC,cart,5335,1487580009605365797,runail,0.40,494077766
11,2019-12-01 00:00:44 UTC,remove_from_cart,5650294,1487580007835370453,metzger,3.33,576802932
13,2019-12-01 00:00:46 UTC,remove_from_cart,5692261,1487580007835370453,staleks,6.35,576802932

In [21]:
FinalDf.dtypes ## checking the datatype if its as expected

event_time     datetime64[ns, UTC]
event_type                  object
product_id                   int64
category_id                  int64
brand                       object
price                      float64
user_id                      int64
dtype: object

In [22]:
FinalDf.describe()  ## statical overview

         product_id   category_id         price       user_id
count  1.131336e+07  1.131336e+07  1.131336e+07  1.131336e+07
mean   5.396502e+06  1.547373e+18  9.693856e+00  5.231074e+08
std    1.476998e+06  1.518608e+17  2.189447e+01  8.752703e+07
min    3.752000e+03  1.487580e+18  0.000000e+00  4.654960e+05
25%    5.734543e+06  1.487580e+18  2.220000e+00  4.852252e+08
50%    5.809915e+06  1.487580e+18  4.130000e+00  5.553309e+08
75%    5.854897e+06  1.487580e+18  7.140000e+00  5.805325e+08
max    5.932585e+06  2.242903e+18  3.277800e+02  6.220901e+08

In [23]:
FinalDf.to_csv(r'C:\Users\Admin\Desktop\eCommerce_data.csv' , index = False)

In [27]:
FinalDf.shape()

TypeError: 'tuple' object is not callable